@media (max-width: 1080px) {
  .image {
    width: 50%;
  }
  .image img {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-right: 40px; */
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
  .address i{
      font-size: 13px;
  }
}

@media (max-width: 768px) {
    body{
        padding: 0;
    }
    header{
        padding: 0;
        height: auto;
    }
    #mobileMenu{
        display: block;
    }
    .content{
        width: 90%;
        margin: 0;
        height: 50vh;
        /* margin-top: 100px; */
    }
  .menu{
      display: block;
      width: 50%;
      position: fixed;
      top: 80px;
      right: 0;
      background: rgb(24, 1, 18);
      height: 100vh;
      padding: 50px 0 0 10px;
      transform: translateX(100%);
      transition:all .4s;
  }
  .menu a{
      display: block;
      padding:10px 20px;
  }
  .menu a:hover{
      background:rgb(216, 179, 207);
      color: #000
  }
  nav{
      width: 100%;
      margin: 0;
  }
  .card-wrapper{
      flex-wrap: wrap;
  }
  .informartion{
      flex-direction: column;
      padding: 10px;
  }
  .image{
      width: 100%;
      min-height: 50vh;
  }
  .description{
      width: 100%;
      height: auto;
  }
  .review{
      flex-wrap: wrap;
  }
  .hero-box{
      flex-wrap: wrap;
  }
  .c-box{
      flex-wrap: wrap;
  }
  .post-container{
      padding: 10px;
  }
  .address{
      width: 100%;
      padding: 0;
  }
  .forum{
      width: 100%;
      padding: 0;
  }
  .shadow{
      padding: 5px;
  }
  }
